html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  text-
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Elements */
  
  #channelList {
    text-align: center;
  }
  .header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 15%;
    min-height: 15%;
    background: #000;
    border-bottom: 2px solid #322f3d;
    box-sizing: border-box;
  }
  .footer {
    background: #000;
    border-top: 2px solid #322f3d;
    box-sizing: border-box;
    position: fixed;
    text-align: center;
    width:100%;
    bottom: 0;
    height: 4.3%
  }
  .icon {
  	padding: 1%;
    border-radius: 50%;
  }
  .header h1 {
    margin: 0 4px;
    color: #fff;
    font-size: 4em;
    text-align: center;
  }
  .channel {
    margin: 1.5%;
    padding: 1px;
    box-shadow: 0 0 5px 4px #322f3d;
    font-size: 25px;
    display: inline-block;
    color: white;
    width: 16%;
  }
  #av-player {
    position: fixed;
    right: 0.3%
  }
  #av-player.fullscreen {
    background: url("https://i.imgur.com/xGbIRVA.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7;
  }
  .selected {
    box-shadow: 0 0 5px 4px aqua;
  }
  .channel p {
    font-size:30px;
  }
  .channel h1 {
    display: flex;
    justify-content: center;
    margin: 0.5%
  }
  .footer h1 {
    margin: 0 4px;
    color: #fff;
    font-size: 2em;
  }
  .hide {
    width: 0;
    height: 0;
  }
  #banner {
    z-index: 10;
    text-align: center;
    top: 46%;
    left: 45.5%;
    position: fixed;
    background: black;
    color: white;
    width: 10%;
    border-radius: 10px;
  }
